.contenu {
    background-size: cover; 
    padding-left: 5rem;
    padding-right: 5rem;
    color: #425100;
    height:40rem;
}

h2{
    font-size: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    color: #425100;
    margin: 0;
    Text-Shadow: 4px 4px #637800;
}


.btnacceuil {
    background-color: #9aaf00;
    color: white;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    font-weight: bold;
}

#text1{
    color: #425100;
}

#div1{
    
    padding-bottom: 1rem;
}