main {
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2), 6px 6px 20px 10px rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 0.5rem;
    height: auto;
    background-color: rgba(250, 226, 84, 0.9);
    /*#f9e259f2*/
    text-align: left;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.contenu {
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 3rem;
    color: #425100;
    margin: 0;
}

h2 {
    color: #323d01;
    margin: 0;
    font-weight: bold;
}

h4 {
    font-weight: Bold;
    text-decoration: underline;
    color: #323d01;
    margin: 0;
}

p {
    text-align: justify;
    color: #425100;
    margin: 0;
}

@media screen and (max-width: 767px) {
    main {
        padding: 0 1rem 0 1rem;
    }
    h2 {
        padding-left: 0;
        padding-right: 0;
        font-size: 1.5rem;
    }
    h4 {
        padding-left: 0;
        padding-right: 0;
        font-size: 1rem;
    }
    p {
        padding-left: 0;
        padding-right: 0;
        font-size: 0.7rem;
    }
    .contenu {
        padding: 0;
    }
}