main {
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2), 6px 6px 20px 10px rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 0.5rem;
    height: auto;
    background-color:rgba(250, 226, 84, 0.9); /*#f9e259f2*/
    text-align: left;
}

.contenu {
    padding-left: 5rem;
    padding-right: 5rem;
    color: #425100;
    margin: 0;
}

h2{
    padding-left: 5rem;
    color: #323d01;
    margin: 0;
}

#emailHelp{
    color: #323d01;  
}

#FormControlInput1{
    color: #425100;  
}

#mail{
    color: #323d01;
}