{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block  stylesheets %}
<link rel="stylesheet" href="{{ asset('css/usercss/inscription.css') }}">
{% endblock %}

{% block contenu %}
<div class="container contenu">
    {% block titre %}<h4>Crée Profil Culinaire :</h4><br><br>
    
    <span>* Vos rencontres culinaires ainsi que les utilisateurs que vous pourrez rencontrer dépendront de vos réponses</span>
    {% endblock %}

    {{ include('profil/_form.html.twig') }}
</div>
{% endblock %}