{% extends 'base.html.twig' %}

{% block main %}
    <main>
    <p>Accueil..<p>  
    </main>
{% endblock %}

{% block stylesheets %}

<style>
body{
    background-color: red;
}
</style> 
{% endblock %}