{% extends 'base.html.twig' %}

{% block title %}Condition général d'utilisation{% endblock %}

{% block  stylesheets %}
<link rel="stylesheet" href="{{ asset('css/index.css') }}">
{% endblock %}

{% block main %}
<main>
{% block contenu %}
{% endblock %}
</main>
{% endblock %}

