{% extends 'base.html.twig' %}

{% block title %}Concept{% endblock %}

{% block  stylesheets %}
<link rel="stylesheet" href="{{ asset('css/concept.css') }}">
{% endblock %}

{% block main %}
<main>
{% block contenu %}
<div class="contenu">
<br>
<h2>Concept Let's M'eat</h2><br><br>

<h4>Historique</h4><br>
<p>Créée en 2018 par Yeshimabet GELOTO, Alexis Daher-Chams et Anaïs Noel Pedrini.</p>
 <p>Letsmeat.com a pour but de permettre aux gens d’une même zone géographique de se rencontrer à partir de critères culinaires autour d’un repas qu’il auront eux-mêmes proposer ou réserver sur notre site.</p>
<p>Letsmeat.com propose également aux utilisateurs de « Matcher » avec d’autres utilisateurs du site selon leurs zones et critères choisit.</p><br><br>   
<h4>Services</h4><br>
<p>L’ambition de Let's M'eat.com est de proposer une série de services permettant aux utilisateurs de rencontrer des personnes de tout âge autour d'un bon repas à partir de leurs critères culinaires  selon la zones géographique qui leur convient. En leurs permettant de proposer des repas à partager avec un certain nombre de convives...</p>
<p>Les utilisateurs ont la possibilité de réserver leurs places lorsqu'ils sont intéressés par une proposition de repas pour.</p> 
<p>À l'aide d'un système de matching, Let's M'eat détermine selon un pourcentage quel utilisateurs match entre-eux selon leurs critères définit lors l'inscription.</p>
<p>L’utilisateur peut également contacter le site pour toutes complaintes où demande d’infos supplémentaire.</p>
<br>
<p><strong>Et puis, qu'est ce qui réunis les gens mieux qu'un bon repas ?</strong></p>
<br><br>
</div>
{% endblock %}
</main>
{% endblock %}