{% extends 'base.html.twig' %}

{% block title %}Concept{% endblock %}

{% block  stylesheets %}
<link rel="stylesheet" href="{{ asset('css/concept.css') }}">
{% endblock %}

{% block main %}
<main>
{% block contenu %}
<p><br><br><br>Concept.<br><br>
Le but du site : Principe d'un site de rencontre (de base "amicale", à partir de critères culinaires)
"Beaucoup de personnes mangent seuls (personnes de tout âge, à tout type de repas de la journée). Le principe est de leur permettre de rencontrer des gens sans avoir à sortir faire des pieds et des mains pour faire de nouvelles rencontres (principe de rencontre simplifié). Et puis, qu'est ce qui réunis les gens mieux qu'un bon repas ?"
</p>
{% endblock %}
</main>
{% endblock %}