{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block  stylesheets %}
<link rel="stylesheet" href="{{ asset('css/contact.css') }}">
{% endblock %}

{% block main %}
<main>
{% block contenu %}
<h1><br><br><br>Contact.<br><br></h1>
<p></p>
{% endblock %}
</main>
{% endblock %}