{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité{% endblock %}

{% block  stylesheets %}
<link rel="stylesheet" href="{{ asset('css/politiqueconfidential.css') }}">
{% endblock %}

{% block main %}
<main>
{% block contenu %}
<br><br><br><div class="contenu">
<h2>Politique de confidentialité.</h2><br><br>
Introduction<br><br>
Devant le développement des nouveaux outils de communication, il est nécessaire de porter une attention particulière à la protection de la vie privée. C'est pourquoi, nous nous engageons à respecter la confidentialité des renseignements personnels que nous collectons.<br><br>

Collecte des renseignements personnels<br><br>
Nous collectons les renseignements suivants :<br><br>

Nom<br>
Prénom<br>
Adresse postale<br>
Code postal<br>
Adresse électronique<br>
Numéro de téléphone<br>
Genre / Sexe<br>
Âge / Date de naissance<br>
Religion<br>
Préférences (musicales, littéraires, cinématographiques, etc.)<br><br>

Les renseignements personnels que nous collectons sont recueillis au travers de formulaires et grâce à l'interactivité établie entre vous et notre site Web.<br>
Nous utilisons également, comme indiqué dans la section suivante, des fichiers témoins et/ou journaux pour réunir des informations vous concernant.<br><br>

Formulaires  et interactivité:<br><br>
Vos renseignements personnels sont collectés par le biais de formulaire, à savoir :<br><br>

Formulaire d'inscription au site Web<br><br>
Nous utilisons les renseignements ainsi collectés pour les finalités suivantes :<br><br>

Contact<br><br>
Vos renseignements sont également collectés par le biais de l'interactivité pouvant s'établir entre vous et notre site Web et ce, de la façon suivante:<br><br>

Nous utilisons les renseignements ainsi collectés pour les finalités suivantes :<br><br>
Droit d'opposition et de retrait<br><br>
Nous nous engageons à vous offrir un droit d'opposition et de retrait quant à vos renseignements personnels.<br>
Le droit d'opposition s'entend comme étant la possiblité offerte aux internautes de refuser que leurs renseignements personnels soient utilisées à certaines fins mentionnées lors de la collecte.<br>
Le droit de retrait s'entend comme étant la possiblité offerte aux internautes de demander à ce que leurs renseignements personnels ne figurent plus, par exemple, dans une liste de diffusion.<br><br>
Pour pouvoir exercer ces droits, vous pouvez : <br>
Courriel : letsmeatcompany@gmail.com<br><br>
Droit d'accès<br><br>
Nous nous engageons à reconnaître un droit d'accès et de rectification aux personnes concernées désireuses de consulter, modifier, voire radier les informations les concernant.<br><br>
L'exercice de ce droit se fera :<br>
Courriel : letsmeatcompany@gmail.com<br><br>
Sécurité<br><br>
Les renseignements personnels que nous collectons sont conservés dans un environnement sécurisé. Les personnes travaillant pour nous sont tenues de respecter la confidentialité de vos informations.<br><br>
Pour assurer la sécurité de vos renseignements personnels, nous avons recours aux mesures suivantes :<br><br>

Protocole SSL (Secure Sockets Layer)<br>
Gestion des accès - personne autorisée<br>
Gestion des accès - personne concernée<br>
Identifiant / mot de passe<br>
Nous nous engageons à maintenir un haut degré de confidentialité en intégrant les dernières innovations technologiques permettant d'assurer la confidentialité de vos transactions.<br><br>
Toutefois, comme aucun mécanisme n'offre une sécurité maximale, une part de risque est toujours présente lorsque l'on utilise Internet pour transmettre des renseignements personnels.<br><br><br></div>
{% endblock %}
</main>
{% endblock %}