@import url('https://fonts.googleapis.com/css?family=Glass+Antiqua|Petrona|Arima+Madurai|Dosis|Josefin+Slab|');
@font-face {
    font-family: TrackItalic;
    src: url(webfonts/TrackItalic/TrackItalic.eot);
    src: local("☺"),url(webfonts/TrackItalic/TrackItalic.woff) format("woff"),url(webfonts/TrackItalic/TrackItalic.ttf) format("truetype"),url(webfonts/TrackItalic/TrackItalic.svg) format("svg");
    font-weight: 400;
    font-style: normal
};

body{
    background-color: #ffc44d;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Glass Antiqua', cursive;
    font-size: 1.2rem;
    margin: 2rem 17rem;
}

.headerrow {
    border-bottom: solid 0.1rem #8a4500;
}

.btnmenu{
    background-color: #8a4500;
    color:white;
    font-size: 1.2rem;
}

.dropdown-menu {
    background-color: #ffc44d;
}

.dropdown-item {
    background-color: #ffc44d;
    border-bottom: solid 0.1rem #8a4500;
    color:white;
    font-size: 1.5rem;
}

.dropdown-item:hover{
    font-size:1.3rem;
    background-color: #8a4500;
}

.dropdown-item:focus {
    background-color: #ffc44d;
}

.dropdown-item:focus, .dropdown-item:hover {
    color:white;
}

img {
    width: 8rem; height: 8rem;
}

h1{
    color: #8a4500;
    text-align: center;
    text-shadow: 3px 3px 3px white;
    font-size: 5rem;
}

.login {
    text-align: center;
}

a{
    color: #8a4500;
}

a:hover {
    color:#ffff;
    text-decoration-line: none;
}

.contenu {
    margin-top: 8rem;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #8a4500;
}

.nav-link{
    margin-bottom: 5rem;
}

.nav-link:hover {
    font-size: 1.3rem;    
}

.navhead:hover {
    background-color:#8a4500;
}

.col-10{
    border-left: solid 0.1rem #8a4500;
}

.copyR{
    color: #8a4500;
    font-weight: bold;
}