{% extends 'base.html.twig' %}

{% block title %}Propositions{% endblock %}

{% block  stylesheets %}
<link rel="stylesheet" href="{{ asset('css/propositions.css') }}">
{% endblock %}

{% block main %}
<main>
{% block contenu %}
<div>
</div>
{% endblock %}
<main>
{% endblock %}