main {
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2), 6px 6px 20px 10px rgba(0, 0, 0, 0.19);
    text-align: left;
    border-radius: 0.5rem;
    height: auto;
    background-color: rgba(250, 226, 84, 0.9);
    /*#f9e259f2*/
}

.contenu {
    padding-left: 5rem;
    color: #425100;
    margin: 0;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

h4 {
    font-weight: bold;
}

@media screen and (max-width: 767px) {
    .contenu {
        padding: 2rem 1rem 2rem 1rem;
    }
    h4 {
        font-size: 1.3rem;
    }
}