{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block  stylesheets %}
<link rel="stylesheet" href="{{ asset('css/usercss/inscription.css') }}">
{% endblock %}

{% block contenu %}
<div class="container contenu">
    {% block titre %}<h4>Inscris-toi :</h4><br><br>{% endblock %}

    {{ include('user/_form.html.twig') }}
</div>
{% endblock %}